<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <img style="width:45px;height:45px;float:left;" src="assets/images/common/case_logo.png" class="pure-img">
    <a class="pure-menu-heading" href="https://www.ibm.com/devops/method/category/architectures/" target="_blank">IBM Cloud Architecture</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link" routerLink="/">Home</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" routerLink="/catalog">Catalog</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" routerLink="/customer">Profile</a>
      </li>
    </ul>
  </div>
</div>
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">BlueCompute Store!</h1>
    <p class="splash-subhead">Check our awesome collections!</p>
    <p>
      <a class="pure-button pure-button-primary" routerLink="/catalog">Browse Item Catalog</a>
    </p>
  </div>
</div>